*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color:#ffffff;
}

/* top-part */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 1440px;
    padding: 60px 50px;
    margin:0px auto;
}

nav{
    margin: 10px;
}

.list-one{
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #727084;
    gap: 25px;
}

/* mid-part */

main{
    max-width: 1440px;
    margin: 0px auto;
    

}

.father-conteiner{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

h3{
    color: #090239;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
}

h2{
    color: #090239;
    font-size: 36px;
    font-family: "Open Sans", sans-serif; 
}

p{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #090239
}

/* conteiner-one */
.conteiner-one-main{
    display: flex;
    align-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 40px 0px 40px; 

}

.introduction-text-one{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin:10px;
    padding: 10px;
}

.image-one-main img {
    width: 100%;
    height: 100% ;
    margin:10px;
    padding: 10px;

}

.form input{
    height: 35px;
    width: 230px;
    font-size: 11px;
}

.form button{
    color: white;
    background-color :#2F65F9 ;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 3px;
    font-size: 11px;
}

/* conteiner-two */
.conteiner-two-main{
    display: flex;
    align-items: center;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 0px 40px 0px 40px; 
}

.conteiner-two-main p{
    font-size: 12px;
}

.introduction-text-two{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 10px;
    margin: 10px;
}

.introduction-text-two a{
    color: #2b948d;
    font-size: 17px;
}

.link{
    display: flex;
    align-items: center;
    gap: 9px;
}

.image-two-main{ 
    padding: 10px;
    margin: 10px;
}

.image-two-main img{
    width: 100%;
    height: 100%;
}

.declaration-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 290px;
    height: 170px;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    gap: 40px;
    
    
}

.talk p{
    font-size: 11px;
    
}

.person-img{
    display: flex;
}

.person-text{
    display: flex;
    flex-direction: column;
}

.person p{
    font-size: 9px;
}

.person{ 
    display: flex;
    align-items: center;
}

.person img{
    max-width: 100%;
    height: 30px;
    border-radius: 50%;
    margin:5px
    
}

.conteiner-three-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
    max-height: 100%;  
    background-color:#575989 ;
} 

.introduction-text-three p {
    color: white;
    font-size: 11px;
}

.introduction-text-three h3{
    color: white;
}

.introduction-text-three div{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    width: 450px;
}

.form-two{
    display: flex;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    
}

.form-two div{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    gap: 15px
}

.button-bot{
    display: flex;
    width: 300px;
    height: 40px;
    padding: 0px 10px;
    font-size: 10px;
}

.form-two button{
    max-width: 80%;
    padding: 10px 5px;
    background-color: #3065F9;
    border: none;
    color: white;
    font-size: 11px;
}

/* inferior-part */
footer{
    display: flex;
    justify-content: center;
    background-color:#07043B ;
    max-width: 1440px;
    margin: 0px auto;
    color: white;
    height: 100%;
    font-size: 15px;
    padding: 0px 40px;
}

 footer section{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    max-width: 100%;
    height: 300px;
    gap: 140px;

} 

.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.links ul{
    width: 70px;
}

.social-midia img{
    max-width: 10%;
}

.social-midia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}
